.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 6vh;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

button {
  padding: 5px;
  margin: 2px;
  border-style: none;
  background-color: darkblue;
  color: white;
}

img {
  max-height: 120px;
  max-width: 120px;
}

.game-card {
  height: 400px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-box {
  height: 150px;
  width: 190px;
  font-size: 82%;
  overflow-y: scroll;
}